#content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
}

#content div{
  padding: 30px;
}

.header{
  background: cyan;
  grid-column: 1 / 5;
}

.buttons{
  background: magenta;
  grid-column: 1 / 2;
}

.results{
  background: yellow;
  grid-column: 2 / 5;
}

.footer{
  background: black;
  color: white;
  grid-column: 1 / 5;
}

.btn01 {
  display: block;
  height: 30px;
  width: 150px;
  background: #88aae8;
  border: 1px solid rgba(33, 68, 72, 0.59);
  color: rgba(0,0,0, 0.55);
  text-align: center;
  font: 1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background: -webkit-linear-gradient(top, #88aae8, #5f7db5);
  background: -moz-linear-gradient(top, #88aae8, #5f7db5);
  background: -o-linear-gradient(top, #88aae8, #5f7db5);
  background: -ms-linear-gradient(top, #88aae8, #5f7db5);
  background: linear-gradient(top, #88aae8, #5f7db5);
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.btn01:hover {
  background: #3d7a80;
  background: -webkit-linear-gradient(top, #5f7db5, #5f7db5);
  background: -moz-linear-gradient(top, #5f7db5, #5f7db5);
  background: -o-linear-gradient(top, #5f7db5, #5f7db5);
  background: -ms-linear-gradient(top, #5f7db5, #5f7db5);
  background: linear-gradient(top, #ffffff, #000000);
}
